<li>
	{{name}}

	<button class="change-trade" data-id="{{id}}" data-traded="{{traded}}">
		{{#if traded}}Traded{{else}}Stay!{{/if}}
	</button>

	<button data-id="{{id}}" class="trade">Trade</button>
</li>
