<li class="collection-item">
	<a class="change-trade" data-id="{{id}}" data-traded="{{traded}}">{{name}}</a>

	{{!-- <button class="change-trade" data-id="{{id}}" data-traded="{{traded}}">
		{{#if traded}}Trade{{else}}Sign onto Roster!{{/if}}
	</button> --}}

</li>
 